h1(align="center") welcome to BookShop
div
  table(border="1" align="center" width="60%" style:margin-left ="20px")
    th  Id
    th Title
    th Price
    th Isbn
    th No. of Pages
    tr(align="center")
      td 123
      td Scala
      td $120
      td ABC12124
      td 1890
    table(border="1" align="center" width="60%" style:margin-left ="20px")
      tr
        td
          button(type='submit' style='width: 80px; height: 25px;') Insert
        td
          button(type='submit' style='width: 80px; height: 25px;') Update
        td
          button(type='submit' style='width: 80px; height: 25px;') Delete
        td
          button(type='submit' style='width: 80px; height: 25px;') Search
        td
          button(type='submit' style='width: 80px; height: 25px;') Show All
        td
          button(type='clear' style='width: 80px; height: 25px;') Clear